<body>
  <app-nav-menu></app-nav-menu>
  <!--<div class="container">
    <router-outlet></router-outlet>
  </div>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!---
  <script>
    (function (document, $) {

      $(function () {
        $(document).on('click', '[disable-on-click], .disable-on-click', function () {
          var disableText = this.getAttribute("data-disable-text") || 'Processing...';

          if (this.form) {
            this.form.submit();
          }

          this.disabled = true;

          if (this.tagName === 'BUTTON') {
            this.innerHTML = disableText;

          });
      });

    })(document, jQuery);
  </script>-->
  <!---
    <style>
      body {
        margin-top: 30px;
        background-color: #eee;
      }

      .faq-nav {
        flex-direction: column;
        margin: 0 0 32px;
        border-radius: 2px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
        .nav-link

      {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
        &:hover

      {
        background-color: #f6f6f6;
      }

      &.active {
        background-color: #f6f6f6;
        font-weight: 700;
        color: rgba(0,0,0,.87);
      }

      &:last-of-type {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 0;
      }

      i.mdi {
        margin-right: 5px;
        font-size: 18px;
        position: relative;
      }

      }
      }

      // TAB CONTENT
      .tab-content {
        box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
        .card

      {
        border-radius: 0;
      }

      .card-header {
        padding: 15px 16px;
        border-radius: 0;
        background-color: #f6f6f6;
        h5

      {
        margin: 0;
        button

      {
        display: block;
        width: 100%;
        padding: 0;
        border: 0;
        font-weight: 700;
        color: rgba(0,0,0,.87);
        text-align: left;
        white-space: normal;
        &:hover, &:focus, &:active, &:hover:active

      {
        text-decoration: none;
      }

      }
      }
      }

      .card-body {
        p

      {
        color: #616161;
        &:last-of-type

      {
        margin: 0;
      }

      }
      }
      }

      // BORDER FIX
      .accordion {
        > .card

      {
        &:not(:first-child)

      {
        border-top: 0;
      }

      }
      }

      .collapse.show {
        .card-body

      {
        border-bottom: 1px solid rgba(0,0,0,.125);
      }

      }




      h2 {
        font-family: Arial, Verdana;
        font-weight: 800;
        font-size: 2.5rem;
        color: #091f2f;
        text-transform: uppercase;
      }

      .accordion-section .panel-default > .panel-heading {
        border: 0;
        background: #f4f4f4;
        padding: 0;
      }

      .accordion-section .panel-default .panel-title a {
        display: block;
        font-style: italic;
        font-size: 1.5rem;
      }

        .accordion-section .panel-default .panel-title a:after {
          font-family: 'FontAwesome';
          font-style: normal;
          font-size: 3rem;
          content: "\f106";
          color: #1f7de2;
          float: right;
          margin-top: -12px;
        }

        .accordion-section .panel-default .panel-title a.collapsed:after {
          content: "\f107";
        }

      .accordion-section .panel-default .panel-body {
        font-size: 1.2rem;
      }
    </style>
   ----- -->




  <div class="container">
    <button class='btn btn-primary btn-lg btn-block' (click)='registrerSp()'>Spør</button>
    <br />
    <br />
    <br />
    <br />
    <div *ngIf="VisType">
      <div *ngIf="laster">
        Laster kategori...
      </div>
      <div *ngFor="let type of alleTyper; index as i">
        <button (click)="hentalleSporsmal(type.typeId)" type="button" class="btn btn-warning btn-lg btn-block">
          {{type.type}}


        </button><br />

        <br />

        <br />


      </div>

    </div>

  </div>

  <!------------------------------------------------------------------------------------------->

  <div class="col-lg-8">
    <div *ngIf="VisBilSp" class="tab-content" id="faq-tab-content">
      <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
        <div class="accordion" id="accordion-tab-1">
          <div *ngIf="bil">
            <h1>Billetter spørsmål</h1>
          </div>
          <div *ngIf="en">
            <h1>Endringer spørsmål...</h1>
          </div>
          <div *ngIf="rut">
            <h1>Ruter spørsmål</h1>
          </div>
          <div *ngFor="let etSp of alleSporsmal; index as i" class="card">
            <div class="card-header" id="accordion-tab-1-heading-1">
              <h5>
                <button (click)="hentSvar(i)" class="btn btn-lg" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">  {{etSp.sporsmal}}</button>
              </h5>
            </div>   
            <div *ngIf="visSvar===i" class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
              <div class="card-body">
                <p>{{etSp.svar}}</p>
                <p>{{etSp.typeId}}</p>
                <p>{{etSp.id}}</p>
                <button (click)="stemSpOpp(etSp.id,etSp.typeId)" class="btn btn-primary glyphicon glyphicon-thumbs-up" disable-on-click data-disable-text="Saving..."><i class="material-icons">thumb_up</i></button>
                <button (click)="stemSpned(etSp.id,etSp.typeId)" class="btn btn-danger glyphicon glyphicon-thumbs-down" disable-on-click data-disable-text="Saving..."><i class="material-icons">thumb_down</i></button>


                <br />
                <label>Poeng: </label><p>{{etSp.rating}}</p>
                <label>Bsert på </label><p>{{etSp.stemmer}} stemmer</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
    </div>
  </div>












  <!----------------------- Skjema------------------------------------>
  <div class="col-sm-4 col-sm-offset-2" *ngIf="visSkjema">
    <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">

      <div class="form-group">
        <label>Hva kan vi hjelpe deg med?</label>

        <div *ngFor="let type of alleTyper; index as i">


          <input (click)="velgtype(type.typeId)" style="position:initial" type="radio" formControlName="type" value=" {{type.type}}" name="type" required>
          <label class=""> {{type.type}}</label>

        </div>
      </div>
      <div class="form-group">
        <label>Skriv din spørsmål</label>
        <textarea class="form-control" formControlName="sporsmal" rows="4"></textarea>
        <p class="alert alert-warning" [hidden]="skjema.controls.sporsmal.valid ||  !submitted">
          Feltet må fylles ut
        </p>
      </div>

      <div class="form-group">

        <button type="submit" *ngIf="skjemaStatus=='Registrere'" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
        <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
      </div>
    </form>
  </div>


</body>
