

.counter {
  background-color: #eaecf0;
  text-align: center;
}

.poeng {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form{
  font-family:Arial, sans-serif;
  font-size:18px;
}
.counter-count {
  font-size: 16px;
  background-color: #09a98b;
  border-radius: 50%;
  position: relative;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}

.poeng-p {
  font-size: 20px;
  color: #000000;
  line-height: 20px;
}

#home_quicklinks {
  padding: 20px 0;
  text-align: center;
}

a.quicklink.link1 {
  background: #CCEAE4;
}

a.quicklink {
  display: inline-block;
  width: 300px;
  height: 173px;
  position: relative;
  margin: 60px 30px;
}

  a.quicklink .ql_caption {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

.outer {
  display: table;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
}

.inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
}

a.quicklink .ql_caption h2 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  line-height: 1.46em;
  color: #fff;
}

a.quicklink.link1 .ql_top {
  border-bottom-color: #fc6719;
}

a.quicklink.link1 .ql_bottom {
  border-top-color: #fc6719;
}


.ql_top {
  bottom: 173px;
  border-bottom: 89px solid #ccc;
}

.ql_bottom {
  top: 173px;
  border-top: 89px solid #ccc;
}

.ql_top, .ql_bottom {
  position: absolute;
  left: 0px;
  width: 0px;
  border-left: 151px solid transparent;
  border-right: 151px solid transparent;
}

a.quicklink.link2 {
  background: #dce4ef;
}

  a.quicklink.link2 .ql_top {
    border-bottom-color: #fcf4e7;
  }

  a.quicklink.link2 .ql_bottom {
    border-top-color: #fcf4e7;
  }


a.quicklink.link3 .ql_top {
  border-bottom-color: #bcbdc0;
}

a.quicklink.link3 .ql_bottom {
  border-top-color: #bcbdc0;
}

a.quicklink.link3 {
  background: #bcbdc0;
}

a.quicklink {
  font-size: 36px;
  font-weight: 500;
  text-decoration: none;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
 
  background-size: auto 334.8632px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,128,192,0.6);
  border-left: solid 5px #4a401c;
  border-right: solid 5px #4a401c;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
  box-shadow: 0 0 20px rgba(0,128,192,0.6);
}

  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 290.0000px;
    height: 167.4315780649915px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }

.hexTop {
  top: -106.0660px;
  border-top: solid 7.0711px #4a401c;
  border-right: solid 7.0711px #4a401c;
}

  .hexTop:after {
    background-position: center top;
  }

.hexBottom {
  bottom: -106.0660px;
  border-bottom: solid 7.0711px #4a401c;
  border-left: solid 7.0711px #4a401c;
}

  .hexBottom:after {
    background-position: center bottom;
  }

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


 ._1c93c3b9 {
  margin: 12px;
}

._1d619c5e {
  height: 24px;
  width: 24px;
  background-image: url(https://view-components.cloud.nsb.no/resources/icons/info-inverted/midBlueContrast.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  transition: background-image 0.3s ease;
  -webkit-transition: background-image 0.3s ease;
}

  ._1d619c5e:focus {
    outline: none;
    border: 0;
  }

._206f47fe {
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

  ._206f47fe::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 2px;
    width: 0;
    border-bottom: 2px solid #00866E;
  }

  ._206f47fe:focus-within::before {
    width: 100%;
    transition: width .4s ease-out;
  }

  ._206f47fe:focus-within input {
    border-bottom: 2px solid transparent;
    outline: 0;
  }

._213f31b2 {
  padding-bottom: 6px;
}

._42c211d7 {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 500;
  font-family: VyDisplay medium;
}

@media screen and (min-width: 756px) {
  ._42c211d7 {
    font-size: 3.375rem;
    line-height: 4.125rem;
  }
}

@media screen and (min-width: 1704px) {
  ._42c211d7 {
    font-size: 3.75rem;
    line-height: 4.125rem;
  }
}

._4a8fd7d9 {
  position: relative;
  display: flex;
  overflow: hidden;
}

._65b9208d {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 756px) {
  ._65b9208d {
    justify-content: flex-start;
  }
}

._82ccc47c {
  max-width: 540px;
}

._84f4e362 {
  margin-top: 36px;
  width: 300px;
}

._8ba87413 {
  margin-top: 48px;
}

._99266285 {
  color: #606568;
  background-color: #EFEFEF;
  text-align: center;
  padding: 0 42px;
  height: 64px;
  border-style: none;
  cursor: default;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
  font-family: VySans bold;
}

  ._99266285:hover {
    outline: none;
  }

  ._99266285:active {
    outline: none;
  }

  ._99266285:focus {
    outline: none;
  }

._a9260cb7 {
  margin-left: 6px;
}

._a95c63c3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: VySans bold;
  display: block;
  margin-bottom: 12px;
}

._aa55873d {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  height: 64px;
  padding-top: 2px;
  display: flex;
  align-items: flex-start;
  background-color: #F5F5F5;
  text-indent: 12px;
  color: #2B2B2C;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 2px solid #2B2B2C;
}

  ._aa55873d::-ms-clear {
    display: none;
  }

  ._aa55873d::-ms-reveal {
    display: none;
  }

  ._aa55873d:disabled {
    background-color: #C7C9C7;
  }

  ._aa55873d::placeholder {
    color: #606568;
    opacity: 1;
  }

  ._aa55873d:focus {
    outline: 1px solid #A7BCD6;
    border-bottom: 2px solid #00866E;
  }

    ._aa55873d:focus::placeholder {
      color: #606568;
    }

._aab6fe50 {
  overflow-wrap: break-word;
}

._ae35e9f8 {
  position: absolute;
  width: 198px;
  background-color: #FFFFFF;
  top: 41px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  border: 1px solid #C7C9C7;
  cursor: auto;
  border-radius: 4px;
  text-align: left;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility 100ms, opacity 100ms;
  -webkit-transition: visibility 100ms, opacity 100ms;
  right: -90px;
}

  ._ae35e9f8::before {
    content: '';
    display: block;
    top: 3px;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    position: absolute;
    border-left: 1px solid #C7C9C7;
    border-top: 1px solid #C7C9C7;
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
  }

  ._ae35e9f8::before {
    right: 48%;
  }

._b72ffc1e {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: VySans, arial, sans-serif;
}

@media screen and (min-width: 1704px) {
  ._b72ffc1e {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

._e5511ed9 {
  display: flex;
}


